.button-standart {
  display: block;
  cursor: pointer;
  padding: 0.7em 0.8em 1em 0.8em;
  margin: 1em auto;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #a83c3ccb;
  font-family: "Macho", sans-serif;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.button-standart:hover {
  color: rgb(27, 25, 25);
  background-color: white;
  transition: 0.2s linear;
  border: 2px solid #a83c3ccb;
}
