.header {
  border-bottom: 3px solid #d1adad;
  box-shadow: 5px 10px 5px -5px #3f3737;
  flex-shrink: 0;
  background-color: #f3e9e9;
  margin: 0em -2em 1.5em -2em;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 1em 2em;
}

.header-img {
  max-height: 50px;
}

@media (min-width: 500px) {
  .header-img {
    max-height: 100px;
  }
}
